.feature {
  background-color: #f7f7f7;

  border: 1px solid #ddd;
  @include border-radius(6px);

  padding: 6px 8px;

  height: 210px;
}

.feature h2 {
  margin: 0px;
}

.intro-text p {
  margin: 32px 0px 40px 0px;
}
